@import "tailwindcss";

@font-face {
    font-family: Oswald;
    src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
}

body{
    overflow-x: hidden;
}


a{
    text-decoration: none;
    color:inherit;
}